<div class="container">
<section>
  <%= render partial: "common/title", locals: {title: "食材作成"}%>
  <%= render partial: "common/new_form", locals: {data: @foodstuff, t_name: '食材', f_name: 'foodstuff'}%>
</section>
<% if @foodstuffs.present? %>
<section>
  <div class="row">
    <h2 class="center-align">食材一覧</h2>
  </div>
  <div class="row">
    <ul class="col s6 offset-s3">
      <%= render partial: "common/foodstuff_list", collection: @foodstuffs, as: "data" %>
    </ul>
  </div>
</section>
<% end %>
</div>