<div class="nested-fields mdl-card mdl-shadow--2dp mdl-cell--12-col">
  <div class="mdl-card__supporting-text mdl-grid">
    <div class="input-field mdl-js-textfield md-cell mdl-cell--10-col">
      <%= f.text_field :title, class: 'mdl-textfield__input', autocomplete:'off', value: nil%>
      <%= f.label :title, 'タイトル', class: 'mdl-textfield__label'%>
    </div>
  </div>
  <div class="mdl-card__supporting-text mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
      <%= f.text_area :description, class: 'mdl-textfield__input', autocomplete:'off', style: "height: 100px" %>
      <%= f.label :decription, '工程', class: 'mdl-textfield__label'%>
    </div>
  </div>
</div>