.link{
  &.row{
   position: relative;
   a{
     position: absolute;
     right: 12px;
     top: -56px;
   }
  }
}

.card{
  .bd__bottom{
    border-bottom: 1px solid #e0e0e0;
  }
  .card-title{
    &.process{
     &__title{
       line-height: 1.5;
       font-size: 18px;
     } 
    }
  }
}