<div class="row">
  <%= f.collection_check_boxes(id_name, object_name, :id, :name, include_hidden: false) do |c|%>
    <div class="col s3">
      <%= c.label do %>
        <%= c.check_box(class: 'filled-in') %>
        <span><%= c.object.name %></span>
      <% end %>
    </div>
  <% end %>
</div>