<%= form_for data, :html => { class: 'col s12 center-align' } do |d|%>
  <div class="row">
    <div class="input-field inline col s8 offset-s2">
      <%= d.text_field :name, autocomplete:'off' %>
      <%= d.label :name, "新規の#{t_name}を作成" %>
    </div>
    <%= button_tag(type: 'submit', class: 'btn-floating btn-large waves-effect waves-light indigo darken-4', form: "new_#{f_name}", name: nil) do%>
      <i class="material-icons">add</i>
    <% end %>
  </div>
<% end %>